.dataManageContainer {
  .inputGroup {
    display: flex;
    :global(.ant-btn) {
      width: auto;
      padding: 0 8px;
      &:hover {
        z-index: 2;
      }
    }
  }
  .selectBeforeContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 32px;
    margin: 16px 0;
    :global(.ant-btn) {
      margin-right: 12px;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  :global(.ant-tag) {
    &:hover {
      cursor: pointer;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
