@import '~antd/es/style/themes/default.less';

html,
body,
#root {
  height: 100%;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

@media (max-width: @screen-xs) {
  .ant-table {
    width: 100%;
    overflow-x: auto;
    &-thead > tr,
    &-tbody > tr {
      > th,
      > td {
        white-space: pre;
        > span {
          display: block;
        }
      }
    }
  }
}

// 兼容IE11
@media screen and(-ms-high-contrast: active), (-ms-high-contrast: none) {
  body .ant-design-pro > .ant-layout {
    min-height: 100vh;
  }
}

:global {
  // 修复输入框尾部 Icon 位置
  .ant-input-suffix {
    display: inline-flex;
    align-items: center;
  }
  // 修复左侧菜单切换动画
  section.ant-layout {
    overflow: hidden;
    transition: all 0.2s;
  }
  // 禁止导航栏选择文本
  header.ant-layout-header, aside.ant-pro-sider-menu-sider {
    user-select: none;
  }
  // 优化左侧菜单样式
  aside.ant-pro-sider-menu-sider {
    border-right: 1px solid #eee;
    box-shadow: 2px 0 30px 0 rgba(29, 35, 41, 0.05);
    .ant-pro-sider-menu-logo {
      height: 64px;
      padding: 0;
      border-bottom: 1px solid #eee;
      box-shadow: none;
      a {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        img {
          max-width: 100%;
          height: auto;
          max-height: 75%;
          user-select: none;
        }
        h1 {
          display: none;
        }
      }
    }
    .fix-sider-bar .ant-menu-root {
      height: calc(100vh - 64px);
      overflow-x: hidden !important;
      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }
    }
    .ant-menu.ant-menu-root {
      border-right: none;
      .ant-menu-item {
        width: 100%;
        &::after {
          border-right: none;
        }
      }
    }
  }
  // 优化右侧顶部样式
  header.ant-layout-header {
    border-bottom: 1px solid #eee;
    .ant-pro-global-header {
      border-bottom: 1px solid #eee;
      box-shadow: none;
      .ant-pro-global-header-trigger {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        .anticon {
          font-size: 15px;
        }
      }
      .antd-pro-components-header-search-index-headerSearch .anticon-search {
        font-size: 12px;
      }
    }
  }
  // 修复左侧菜单浮动层多余的背景
  .ant-menu.ant-menu-submenu-popup {
    background: transparent;
  }
  //
  //.ant-popover-inner-content {
  //  min-width: 134px;
  //}
  //
  //// fix html tag a attr disabled
  //a.disabled {
  //  color: rgba(0, 0, 0, 0.25);
  //  cursor: not-allowed;
  //}
  //
  //// no page header heading
  //.no-heading {
  //  .ant-page-header.has-breadcrumb {
  //    padding-top: 16px;
  //  }
  //  .ant-page-header-heading {
  //    display: none;
  //  }
  //}
  // custom google scrollbar style
  ::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }
  ::-webkit-scrollbar-track {
    display: none;
  }
  ::-webkit-scrollbar-thumb {
    background: #ccc;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #aaa;
  }
  // custom selection style
  ::selection {
    color: #fff;
    background-color: #333;
  }
}
